.header ul{
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li{
    cursor: pointer;
}

.header-img-holder{
    height: 50px;
}

.header-items{
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-right: 4vw;
}

